{% extends "stats/form.html" %}
{% load bootstrap3 %}

{% block client_info %}
<div class="fieldWrapper">
	{% bootstrap_field form.client_number %} 
	{% bootstrap_field form.date_of_birth %} 
	{{ form.age.errors }}
	{% bootstrap_field form.age size='small' %} 
	{{ form.number_of_abuses.errors }} 
	{% bootstrap_field form.number_of_abuses %}
</div>
{% endblock %}

{% block referral_info %}
{% for field in referral_info %}
	<div class="fieldWrapper">
	    {{ field.errors }}
	    {% bootstrap_field field %}
	    {% if field.help_text %}
	    <p class="help">{{ field.help_text|safe }}</p>
	    {% endif %}
	</div>
{% endfor %}
{% endblock %}

{% block services_provided_info %}
{% for field in services_provided %}
	<div class="fieldWrapper">
	    {{ field.errors }}
	    {% bootstrap_field field %}
	    {% if field.help_text %}
	    <p class="help">{{ field.help_text|safe }}</p>
	    {% endif %}
	</div>
{% endfor %}
{% endblock %}

{% block abuse_info %}
{% for field in abuse_info %}
	<div class="fieldWrapper">
	    {{ field.errors }}
	    {% bootstrap_field field %}
	    {% if field.help_text %}
	    <p class="help">{{ field.help_text|safe }}</p>
	    {% endif %}
	</div>
{% endfor %}
{% endblock %}

{% block sexual_orientation_info %}
{% for field in sexual_orientation_info %}
	<div class="fieldWrapper">
	    {{ field.errors }}
	    {% bootstrap_field field %}
	    {% if field.help_text %}
	    <p class="help">{{ field.help_text|safe }}</p>
	    {% endif %}
	</div>
{% endfor %}
{% endblock %}




