{% extends 'stats/base.html' %}
{% load static %}

{% block head %}
    <title>My Profile</title>
{% endblock %}

{% block body %}
<div class='container profile-page'>
    {% if object == user %}
        <h2>Welcome, {{ object.username }}.</h2>
    {% else %}
        <h2>{{ object.username }}</h2>
    {% endif %}

    <!-- Display keys if superuser -->
    {% if user.is_superuser and user == object %}
        <p>Currently logged in as the admin.</p><br>

        <button id="addkeybtn" class='btn'>Add new invite code</button>
        <br><br>
        <p>Invite Keys:</p>
        <div id="keys"></div>
        {% for k in keys %}
            <div class="{{ k.id }}_div">
                <li>
                    {{ k.id }} | <a id="{{ k.id }}" class='del_btn'>Delete key</a>
                </li>
            </div>
        {% endfor %}
        <hr>
    {% endif %}

    <div class='col-sm-6'>
        <!-- Display clients input by this user  -->
        {% if object == user %}
            <h4>Clients input by you.</h4>
        {% else %}
            <h4>Clients input by {{ object.username }}</h4>
        {% endif %}
        {% for client in object.client_set.all %}
            <li>{{ client.client_number }}</li>
        {% endfor %}
    </div>

    <div class='col-sm-6'>
        <!-- Display staff -->
        <h4>List of staff:</h4>
        {% for u in users %}
            <li><a href="{% url 'user_show' u.id %}">{{ u.username }}</a></li>
        {% endfor %}
    </div>    

</div>
{% endblock %}

{% if object.is_superuser and user == object %}
{% block javascript %}
    <script>
        var postdata= { 'csrfmiddlewaretoken': '{{ csrf_token }}' }
        $(document).on("click", "#addkeybtn", function() {
            requestNewKey();
        });

        function requestNewKey() {
            $.post("../invite_key", postdata, function(response) {
                if (response.success) {
                    var toAppend = '<div class="' + response.key + '_div"> <li>' + response.key + '<button id="' + response.key +'" class="del_btn">Delete key</button></li></div>';
                    console.log(toAppend);
                    $('#keys').append(toAppend);
                }
                else {
                    alert("You have reached the maximum number of active keys.");
                }
            });
        }

        $(document).on("click", ".del_btn", function() {
            $.ajax({
                url: '../invite_key',
                type: 'DELETE',
                data: JSON.stringify({ 'key_value': this.id }),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
               success: function(response) {
                   var class_to_remove = '.' + response.key + '_div';
                   $(class_to_remove).remove();
               }
            });
        });
  </script>
{% endblock %}
{% endif %}
