{% extends 'stats/base.html' %}

{% block head %}
    <title>Homepage</title>
 	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	     google.load("visualization", "1", {packages:["corechart"]});
	</script>
{% endblock %}

{% block body %}
    <h2>Analytics</h2>

    <div class='container basic-stats'>
    	<h3>Basic Statistics</h3>
        <div class='col-sm-4'>
        	Number of clients: <strong>{{ num_clients }}</strong> <br>
        	Average number of abuses: <strong>{{ avg_abuses }}</strong> <br>
        	Median number of abuses: <strong>{{ median_abuses }}</strong><br>
        </div>
        <div class='col-sm-4'>
            Total number of abuses: <strong>{{ num_abuses }}</strong><br>
            Average client age: <strong>{{ avg_age }}</strong><br>
            Median client age: <strong>{{ median_age }}</strong>
        </div>
        <div class='col-sm-4'>
            Average abuse length: <strong>{{ abuse_length }} year(s)</strong><br>
            Median abuse length: <strong>{{ median_abuse_length }} year(s)</strong><br>
            Average time until reported: <strong>{{ reported_length }} year(s)</strong>
        </div>
    </div>

    <div class='container graphs'>
    	<h3>Charts</h3>
    	<div class='col-sm-6'>
    		{{ age_vs_abuses.as_html }}	
    	</div>
    	<div class='col-sm-6'>
    		{{ clients_by_age.as_html }}
    	</div>
    	<div class='col-sm-6'>
    		{{ service_counts.as_html }}
    	</div>
    	<div class='col-sm-6'>
    		{{ referral_counts.as_html }}
    	</div>
        <div class='col-sm-6'>
            {{ income_dist.as_html }}
        </div>
    	
    </div>
    
{% endblock %}
