{% load staticfiles %}
<html>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
        <link rel='stylesheet' type="text/css" href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
        <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include 'stats/partials/header.html' %}
        
        <div class="container">
            {% include 'stats/partials/messages.html' %}
            {% block body %}
            {% endblock %}
        </div>

        {% include 'stats/partials/footer.html' %}    
   </body>
    {% block javascript %}
    {% endblock %}
</html>
