{% extends 'stats/base.html' %}

{% load static %}

{% block head %}
    <title>Patient Intake Form</title>
    <link rel="stylesheet" href="{% static "form/css/style.css" %}">
    <link rel="stylesheet" href="{% static "form3/css/style.css" %}">
{% endblock %}


{% block body %}
<div class="col-sm-8 col-sm-offset-2">
  <form method="post" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center submit">
      <button type="submit" class="save btn btn-default">Submit</button>  
    </div>
  </form>
</div>


{% endblock %} 
