{% extends 'stats/base.html' %}

{% block head %}
    <title>Homepage</title>
 	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	     google.load("visualization", "1", {packages:["corechart"]});
	</script>
{% endblock %}

{% block body %}
    <h2>Analytics</h2>

    <div class='container basic-stats'>
    	<h3>Basic Statistics</h3>
    	Number of Clients: <strong>{{ num_clients }}</strong> <br>
    	Average number of abuses: <strong>{{ avg_abuses }}</strong> <br>
    	Total Number of Abuses: <strong>{{ num_abuses }}</strong>
    </div>

    <div class='container graphs'>
    	<h3>Charts</h3>
    	<div class='col-sm-6'>
    		{{ age_vs_abuses.as_html }}	
    	</div>
    	<div class='col-sm-6'>
    		{{ clients_by_age.as_html }}
    	</div>
    	<div class='col-sm-6'>
    		{{ service_counts.as_html }}
    	</div>
    	<div class='col-sm-6'>
    		{{ referral_counts.as_html }}
    	</div>
    	
    </div>
    
{% endblock %}
