{% extends 'stats/base.html' %}

{% block head %}
     <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <!-- Load DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>    
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="../static/stats/js/stats.js"></script>

    <title>Statistics page</title>
{% endblock %}

{% block body %}
Hello {{ user.username }}, this is the statistics page!
<br>

<table style="width:100%" id="clientTable">
    <thead>
        <tr>
            {% for field in client_fields %}
                <th>{{ field.verbose_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                {% for value in client %}
                    <th>{{ value }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

