{% extends 'stats/base.html' %}

{% block head %}
     <script type="text/javascript" src="../static/stats/js/main.js"></script>
     <script type="text/javascript" src="../static/stats/js/token.js"></script>
    <title>Statistics page</title>
{% endblock %}

{% block body %}
Hello {{ user.username }}, this is the statistics page!
<br>

This is a silly form: <br>

<form action="/update_stats/" method="post" id="stats-form" class="text-center">
    {% csrf_token %}
    Some text: 
    <input type="text" name="randtext" id="randtext"><br>
    <div class="text-center submit">
        <button type="submit" class="save btn btn-default">Submit</button>  
    </div>
</form>

{% endblock %}

