{% extends 'stats/base.html' %}

{% block head %}
     <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <script type="text/javascript">
         google.load("visualization", "1", {packages:["corechart"]});
     </script>
    <title>Statistics page</title>
{% endblock %}

{% block body %}
    Hello {{ user.username }}, this is the statistics page!

    <p>Number of entries per model:</p>
        <li>Client: {{ client_count }} entries.</li>
        <li>Abuse: {{ abuse_count }} entries.</li>
        <li>Client_Current_Situation: {{ ccs_count }} entries.</li>

    <div>
        <p>Clients:</p>
        {% for num in client_numbers %}
            <li><a href="/client/{{num.client_number}}">#{{num.client_number}}</a></li>
        {% endfor %}
    </div>
    {{ chart.as_html }}

{% endblock %}

