{% load staticfiles %}
{% load bootstrap3 %}

<html>
    <head>
        <meta charset="UTF-8">
        <!-- jQeury -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
        <link rel="stylesheet" href="{% static 'stats/css/registration.css' %}">
        
        <title>Login</title>
    </head>
    <body>
        <div class="center-block">
            <h2 class="text-center">BCSMSSA Database</h2>
            <div class="formbackground rounddiv">
            <form style="display: inline; margin: 0;"  method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="Login" />
            </form>
            </div>
            New user? <a href="/register">Register here.</a>
        </div>
   </body>
</html>
